<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let noticia of noticias; let i = index">

    <ion-card class="card-noticia">

      <img src="https://ionicframework.com/docs/img/demos/card-media.png">

      <div class="contenido-noticia">

        <h2>{{ noticia.titulo }}</h2>
        <p class="fecha">{{ noticia.fecha }}</p>

        <p>{{ noticia.descripcion }}</p>

        <ion-button size="small" color="danger" (click)="eliminarNoticia(i)">
          Eliminar
        </ion-button>

      </div>

    </ion-card>

  </div>

</ion-content>